<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458469369901-hq8u596fj5lmlc2acv5ve6nrqfevc061.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458469369901-hq8u596fj5lmlc2acv5ve6nrqfevc061</string>
	<key>API_KEY</key>
	<string>AIzaSyA4d9geV4LyZNhIYhzl_LQNJW4zYdN3MvY</string>
	<key>GCM_SENDER_ID</key>
	<string>458469369901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMini</string>
	<key>PROJECT_ID</key>
	<string>shun-mini</string>
	<key>STORAGE_BUCKET</key>
	<string>shun-mini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458469369901:ios:16dd9b5b4e224984acb0a4</string>
</dict>
</plist>